@media screen and (max-width: 427px) {
  mob-socials-list {
    gap: 24px;
  }

  .mob-menu-tel-link {
    font-size: 24px;
  }

  .modal {
    width: 100%;
    min-height: 620px;
  }

  .mail-info {
    min-width: 300px;
  }
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .nav-container {
    padding-top: unset;
    padding-bottom: unset;
  }

  .modal {
    width: 408px;
    padding: 72px 25px 24px 23px;
  }

  .open-menu-btn {
    display: none;
  }

  .header-logo {
    margin-right: 76px;
  }

  .header-menu-link {
    display: flex;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--headings-color);
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--transition);
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--hover-color);
  }

  .current {
    position: relative;
    color: var(--hover-color);
  }

  .current:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
  }

  .header-address {
    font-style: normal;
  }

  .address-list {
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
  }

  .header-address-link {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: var(--main-color);
    transition: color var(--transition);
  }

  .header-address-link:hover,
  .header-address-link:active,
  .header-address-link:focus {
    color: var(--hover-color);
  }

  .header-menu {
    display: flex;
    gap: 40px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
    padding: 112px 0;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .benefits-list {
    gap: 72px 24px;
  }

  .benefits-item {
    width: calc((100% - 24px) / 2);
  }

  .benefits-subtitle {
    text-align: left;
  }

  .team-container {
    max-width: 584px;
  }

  .team-list {
    gap: 64px 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .team-item img {
    width: 100%;
  }

  .customers-container {
    max-width: 584px;
  }

  .customers-list {
    display: flex;
    gap: 72px 24px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
  }

  .footer-container {
    max-width: 584px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }

  .footer-container .footer-logo {
    text-align: left;
  }

  .footer-socials-text {
    width: 100%;
  }

  .footer-logo-container {
    text-align: unset;
  }

  .footer-socials-container {
    align-items: left;
  }

  .footer-contact-form-container {
    align-items: left;
  }

  .subscribe-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
    width: 100%;
  }

  .mail-info {
    width: 264px;
    min-width: 240px;
  }

  .submit-btn {
    margin: unset;
  }

  .footer-contact-form-container .footer-socials-text {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .open-menu-btn {
    display: none;
  }

  .address-list {
    display: flex;
    flex-direction: unset;
    gap: 40px;
  }

  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition: color var(--transition);
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 48px;
  }

  .benefits {
    padding: 120px 0;
  }

  .benefits-item {
    width: calc((100% - 72px / 4));
  }

  .benefits-item-container {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: var(--background-color-2);
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--headings-color);
    margin-bottom: 8px;
  }

  .benefits-item-text {
    font-weight: 400;
  }

  .benefits-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .activity {
    padding-bottom: 120px;
    display: block;
  }

  .team {
    padding: 120px 0;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .team-list {
    flex-wrap: unset;
    gap: 24px;
  }

  .customers {
    padding: 120px 0;
  }

  .customers-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }

  /* .footer {
    padding: 100px 0;
  } */

  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: unset;
    gap: unset;
  }

  .footer-logo-container {
    margin-right: 120px;
    max-width: 264px;
  }

  .footer-logo {
    margin-bottom: 16px;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-contact-form-container {
    margin-left: 80px;
    width: unset;
  }

  .footer-contact-form-container .footer-socials-text {
    margin-bottom: 0px;
  }

  .footer-socials-text {
    width: 100%;
    justify-content: left;
  }

  .subscribe-form {
    width: unset;
  }

  .modal {
    padding: 72px 24px 24px 24px;
  }
}
